<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ddl语法转Java代码</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 样式引入 -->
    <link rel="stylesheet" th:href="@{/utils/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/utils/codemirror/index.css}">
    <link rel="stylesheet" th:href="@{/utils/codemirror/theme/eclipse.css}">
    <link rel="stylesheet" th:href="@{/utils/codemirror/hint/show-hint.css}">
    <link rel="stylesheet" th:href="@{/utils/icon/iconfont.css}">
    <link rel="stylesheet" th:href="@{/css/ddl/index.css}">
</head>
<body>


<div class="layui-container">
    <div class="layui-row"
         style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap; gap: 100px;">
        <div style="max-width: 600px;">
            <h1 style="font-size: 36px; font-weight: bold; margin-bottom: 20px;text-align: center">在线 Java
                代码生成器</h1>
            <p style="font-size: 16px; color: #666; line-height: 1.8;text-align: center">
                SQL转JAVA | SQL转JPA | SQL转Mybatis | Mybatis在线生成器<br>
                SQL转Java | JPA | Mybatis实现类模板代码生成平台<br>
                通过建表SQL语句生成 JPA / JdbcTemplate / Mybatis / MybatisPlus 等相关代码
            </p>
            <div style="margin-top: 30px; display: flex; justify-content: center">
                <button id="generateBtn" type="button" class="layui-btn layui-bg-blue">立即生成</button>
            </div>
        </div>
        <div>
            <img th:src="@{/img/code.png}" alt="代码生成器插图"
                 style="max-width: 200px; height: auto;">
        </div>
    </div>

    <div class="layui-row" style="display: flex;justify-content: center;">
        <div class="layui-col-xs5" style="padding: 10px">
            <div class="grid-demo grid-demo-bg1">
                <div style="display: flex;align-items: center;padding-bottom: 15px">
                    <div style="width: 4px; height: 20px; background: rgb(255, 146, 0);"></div>
                    <div class="title">DDL建表语句</div>
                </div>
                <div class="ddl-code-wrapper">
                    <textarea id="code"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-col-xs6" style="padding: 10px">
            <div class="grid-demo">
                <div style="display: flex;align-items: center;padding-bottom: 15px">
                    <div style="width: 4px; height: 20px; background: rgb(255, 146, 0);"></div>
                    <div class="title">生成结果</div>
                </div>
                <div class="layui-col-xs6">
                    <div class="grid-demo grid-demo-bg1">
                        <div id="fileTree" class="layui-tree" lay-filter="fileTree"></div>
                    </div>
                </div>
                <div class="layui-col-xs6">
                    <div class="grid-demo">
                        <div class="java-code-wrapper">
                            <button class="copy-btn" id="copyBtn" @click="copyCode">
                                <i class="iconfont icon-copy"></i> 复制
                            </button>
                            <textarea id="javaCode"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="generateForm">
    <form class="layui-form layui-form-pane" lay-filter="configForm" style="padding: 20px;">
        <div style="display: flex;align-items: center;padding-bottom: 15px">
            <div style="width: 4px; height: 20px; background: rgb(255, 146, 0);"></div>
            <div style="font-size: 14px;font-weight: 300;padding-left: 10px;">基础配置</div>
        </div>

        <div class="layui-form-item" style="width: 60%">
            <label class="layui-form-label">包名</label>
            <div class="layui-input-block">
                <input type="text" name="title" autocomplete="off" placeholder="请输入" lay-verify="required"
                       class="layui-input" value="com/example">
            </div>
        </div>

        <div class="layui-form-item" style="width: 60%">
            <label class="layui-form-label">作者</label>
            <div class="layui-input-block">
                <input type="text" name="title" autocomplete="off" placeholder="请输入" lay-verify="required"
                       class="layui-input" value="system">
            </div>
        </div>

        <div class="layui-form-item" style="width: 60%">
            <label class="layui-form-label">接口前缀：</label>
            <div class="layui-input-block">
                <input type="text" name="title" autocomplete="off" placeholder="请输入" lay-verify="required"
                       class="layui-input" value="/api">
            </div>
        </div>

        <div style="display: flex;align-items: center;padding-bottom: 15px">
            <div style="width: 4px; height: 20px; background: rgb(255, 146, 0);"></div>
            <div style="font-size: 14px;font-weight: 300;padding-left: 10px;">方法配置</div>
        </div>

        <div class="layui-row">
            <div class="layui-col-xs4">
                <div class="grid-demo grid-demo-bg1">
                    <div class="layui-form-item">
                        <div>分页查询:</div>
                        <div>
                            <input type="checkbox" name="open" lay-skin="switch" lay-filter="switchTest" title="ON|OFF">
                        </div>
                    </div>

                    <div class="layui-form-item" style="margin-bottom:3px">
                        <label class="layui-form-label">方法名称:</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" autocomplete="off" placeholder="请输入"
                                   lay-verify="required" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">请求路径:</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" autocomplete="off" placeholder="请输入"
                                   lay-verify="required" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs4">
                <div class="grid-demo">
                    <div class="layui-form-item">
                        <div>列表查询:</div>
                    </div>

                    <div class="layui-form-item" style="margin-bottom:3px">
                        <label class="layui-form-label">方法名称:</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" autocomplete="off" placeholder="请输入"
                                   lay-verify="required" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">请求路径:</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" autocomplete="off" placeholder="请输入"
                                   lay-verify="required" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs4">
                <div class="grid-demo grid-demo-bg1">
                    <div class="layui-form-item">
                        <div>查询详情:</div>
                    </div>

                    <div class="layui-form-item" style="margin-bottom:3px">
                        <label class="layui-form-label">方法名称:</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" autocomplete="off" placeholder="请输入"
                                   lay-verify="required" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">请求路径:</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" autocomplete="off" placeholder="请输入"
                                   lay-verify="required" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs4">
                <div class="grid-demo grid-demo-bg1">
                    <div class="layui-form-item">
                        <div>新增:</div>
                    </div>

                    <div class="layui-form-item" style="margin-bottom:3px">
                        <label class="layui-form-label">方法名称:</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" autocomplete="off" placeholder="请输入"
                                   lay-verify="required" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">请求路径:</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" autocomplete="off" placeholder="请输入"
                                   lay-verify="required" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs4">
                <div class="grid-demo grid-demo-bg1">
                    <div class="layui-form-item">
                        <div>修改:</div>
                    </div>

                    <div class="layui-form-item" style="margin-bottom:3px">
                        <label class="layui-form-label">方法名称:</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" autocomplete="off" placeholder="请输入"
                                   lay-verify="required" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">请求路径:</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" autocomplete="off" placeholder="请输入"
                                   lay-verify="required" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs4">
                <div class="grid-demo grid-demo-bg1">
                    <div class="layui-form-item">
                        <div>删除:</div>
                    </div>

                    <div class="layui-form-item" style="margin-bottom:3px">
                        <label class="layui-form-label">方法名称:</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" autocomplete="off" placeholder="请输入"
                                   lay-verify="required" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">请求路径:</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" autocomplete="off" placeholder="请输入"
                                   lay-verify="required" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="display: flex;align-items: center;padding-bottom: 15px">
            <div style="width: 4px; height: 20px; background: rgb(255, 146, 0);"></div>
            <div style="font-size: 14px;font-weight: 300;padding-left: 10px;">更多选项</div>
        </div>

        <div style="display: flex;align-items: center;padding-bottom: 15px">
            <div style="width: 4px; height: 20px; background: rgb(255, 146, 0);"></div>
            <div style="font-size: 14px;font-weight: 300;padding-left: 10px;">集成依赖</div>
        </div>
    </form>
</script>


<!-- JS 引入 -->
<script th:src="@{/utils/jQuery3.6.0.min.js}"></script>
<script th:src="@{/utils/layui/layui.js}"></script>
<script th:src="@{/utils/codemirror/index.js}"></script>
<script th:src="@{/utils/codemirror/mode/sql.js}"></script>
<script th:src="@{/utils/codemirror/mode/clike.js}"></script>
<script th:src="@{/utils/codemirror/mode/xml.js}"></script>
<script th:src="@{/utils/codemirror/hint/show-hint.js}"></script>
<script th:src="@{/utils/codemirror/hint/sql-hint.js}"></script>
<script th:src="@{/js/ddl_to_java.js}"></script>

</body>
</html>
