* {
    margin: 0;
    padding: 0;
}

[v-cloak] {
    display: none;
}

html, body {
    height: 100%;
}

#app {
    width: 100%;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;

}

#code-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* 让 CodeMirror 编辑器铺满容器 */
.CodeMirror {
    height: 100% !important;
    flex: 1;
    background-color: #f7f7f7 !important;
}

