<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ddl语法转Java代码</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入样式 -->
    <link rel="stylesheet" th:href="@{/utils/elementui/theme-chalk/index.css}">
    <link rel="stylesheet" th:href="@{/css/layout/index.css}">
</head>
<body>
<div id="app" v-cloak>
</div>
</body>

<script th:src="@{/utils/jQuery3.6.0.min.js}"></script>
<script th:src="@{/utils/vue2.7.16.min.js}"></script>
<script th:src="@{/utils/elementui/ele-lib-index.js}"></script>
<script>
    new Vue({
        el: '#app',
        data: {},
        mounted() {
        },
        methods: {}
    });
</script>
</html>
