<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据库代码生成</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入样式 -->
    <link rel="stylesheet" th:href="@{/utils/elementui/theme-chalk/index.css}">
    <link rel="stylesheet" th:href="@{/css/generate_code.css}">
</head>
<body>
<div id="app" v-cloak>
    <!-- 左侧连接配置表单 -->
    <div class="left-panel">
        <div class="form-title">数据库连接配置</div>
        <el-form ref="form" :model="form" label-width="100px">
            <el-form-item label="连接地址" required>
                <el-input v-model="form.url" placeholder="请输入连接地址"></el-input>
            </el-form-item>
            <el-form-item label="驱动类名" required>
                <el-input v-model="form.driverClassName" placeholder="请输入驱动类名"></el-input>
            </el-form-item>
            <el-form-item label="用户名" required>
                <el-input v-model="form.username" placeholder="请输入用户名"></el-input>
            </el-form-item>
            <el-form-item label="密码" required>
                <el-input v-model="form.password" placeholder="请输入密码" show-password></el-input>
            </el-form-item>
            <el-form-item label="数据库类型" required>
                <el-select v-model="form.dbType" placeholder="请选择数据库类型" style="width: 100%;">
                    <el-option label="MySQL" value="mysql"></el-option>
                    <el-option label="Oracle" value="oracle"></el-option>
                    <el-option label="SQL Server" value="sqlserver"></el-option>
                </el-select>
            </el-form-item>

            <!-- 吸底按钮项 -->
            <el-form-item class="bottom-btn">
                <el-button type="primary" @click="getTables" style="float: right">测试连接并获取表</el-button>
            </el-form-item>
        </el-form>
    </div>


    <!-- 右侧表格展示 -->
    <div class="right-panel">
        <div class="table-form">
            <el-form ref="form" :model="form" size="mini" label-width="130px">
                <el-row :gutter="20">
                    <el-col :span="8">
                        <el-form-item label="选择表" required>
                            <el-select v-model="tableName" placeholder="请选择表" @change="getColumns"
                                       style="width: 100%;">
                                <el-option :label="item.tableName" :value="item.tableName" :key="index"
                                           v-for="(item, index) in tables"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>


                    <el-col :span="16">
                        <el-form-item style="margin-bottom: 0px">
                            <el-button type="primary" round @click="generateCode" style="float: right">生成代码
                            </el-button>
                            <el-button type="success" round @click="drawer = true"
                                       style="float: right;margin-right: 15px">配置项
                            </el-button>
                        </el-form-item>
                    </el-col>
                </el-row>


            </el-form>
        </div>

        <div class="table-header">
            <h3>表字段信息</h3>
        </div>
        <div class="table-wrapper">
            <el-table :data="tableData" height="calc(100vh - 170px)" size="mini" border style="width: 100%;">
                <template slot="empty">
                    <el-empty :image-size="200"></el-empty>
                </template>
                <el-table-column align="center" prop="columnName" label="字段名"></el-table-column>
                <el-table-column align="center" prop="dataType" label="字段类型"></el-table-column>
                <el-table-column align="center" prop="javaType" label="JAVA类型">
                    <template slot-scope="scope">
                        <el-select v-model="scope.row.javaType" size="mini" placeholder="请选择" style="width: 100%;">
                            <el-option :label="item" :value="item" :key="index"
                                       v-for="(item, index) in javaTypeList"></el-option>
                        </el-select>
                    </template>
                </el-table-column>
                <el-table-column align="center" prop="columnComment" label="描述"
                                 show-overflow-tooltip></el-table-column>
                <el-table-column align="center" prop="nullable" label="可为空">
                    <template slot-scope="scope">
                        {{ scope.row.nullable ? '是' : '否' }}
                    </template>
                </el-table-column>
                <el-table-column align="center" prop="primaryKey" label="主键">
                    <template slot-scope="scope">
                        {{ scope.row.primaryKey ? '是' : '否' }}
                    </template>
                </el-table-column>
                <el-table-column align="center" label="操作">
                    <template slot-scope="scope">
                        <el-button size="mini" type="danger" @click="deleteColumn(scope.$index)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </div>

    <el-drawer
            title="代码配置项"
            :visible.sync="drawer"
            :direction="direction"
            :before-close="handleClose">
        <el-form ref="genConfigInfoForm" :model="genConfigInfo" size="mini" label-width="130px" style="margin: 25px">

            <el-form-item label="包路径" required>
                <el-input v-model="genConfigInfo.packagePath" placeholder="请输入包路径"></el-input>
            </el-form-item>

            <el-form-item label="Entity-包名" required>
                <el-input v-model="genConfigInfo.entityName" placeholder="请输入 Entity 包名"></el-input>
            </el-form-item>

            <el-form-item label="Mapper-包名" required>
                <el-input v-model="genConfigInfo.mapperName" placeholder="请输入 Mapper 包名"></el-input>
            </el-form-item>

            <el-form-item label="Service-包名" required>
                <el-input v-model="genConfigInfo.serviceName" placeholder="请输入 Service 包名"></el-input>
            </el-form-item>

            <el-form-item label="Controller-包名" required>
                <el-input v-model="genConfigInfo.controllerName" placeholder="请输入 Controller 包名"></el-input>
            </el-form-item>

            <el-form-item label="启用Lombok注解">
                <el-select v-model="genConfigInfo.openLombok" placeholder="是否启用" style="width: 100%">
                    <el-option label="是" value="yes"></el-option>
                    <el-option label="否" value="no"></el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="启用Swagger注解">
                <el-select v-model="genConfigInfo.openSwagger" placeholder="是否启用" style="width: 100%">
                    <el-option label="是" value="yes"></el-option>
                    <el-option label="否" value="no"></el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="数据访问层插件">
                <el-select v-model="genConfigInfo.dal" placeholder="请选择数据访问层插件" style="width: 100%">
                    <el-option label="jpa" value="JavaPersistenceApi"></el-option>
                    <el-option label="Mybatis" value="Mybatis"></el-option>
                    <el-option label="MybatisPlus" value="MybatisPlus"></el-option>
                </el-select>
            </el-form-item>

        </el-form>
    </el-drawer>
</div>
</body>

<script th:src="@{/utils/jQuery3.6.0.min.js}"></script>
<script th:src="@{/utils/vue2.7.16.min.js}"></script>
<script th:src="@{/utils/elementui/ele-lib-index.js}"></script>
<script th:src="@{/js/generate_code.js}"></script>
</html>
