<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>快速开始</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/utils/elementui/theme-chalk/index.css}">
</head>
<body>
<div id="app">
</div>

<script th:src="@{/utils/jQuery3.6.0.min.js}"></script>
<script th:src="@{/utils/vue2.7.16.min.js}"></script>
<script th:src="@{/utils/elementui/ele-lib-index.js}"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {}
        },
        methods: {}
    })
</script>
</body>
</html>
